@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

footer {
  background: black;
  color: white;
}

.swiper-pagination-bullet {
  background-color: #919191 !important;
}

.swiper-pagination-bullet-active {
  background-color: #CCCCCC !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #636262 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #CCCCCC !important;
  cursor: pointer;
}
